body {
	font-family: sans-serif; 
	font-weight:lighter;
}
div {
	align-content:center;
}
#header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}
#footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
   padding:5px;	 	 
}